{% extends 'base.html.twig' %}

{% block body %}
	{% include 'QuizzeroQuizBundle::user.layout.html.twig' %}
    <h1>Quiz</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ quiz.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ quiz.body }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ quiz.image }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if quiz.createdat %}{{ quiz.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if quiz.updatedat %}{{ quiz.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quizlink_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('quizlink_edit', { 'id': quiz.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
