{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Body</th>
                <th>Image</th>
                <th>Correct</th>
                <th>Variates</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('questionlink_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.type }}</td>
                <td>{{ question.body }}</td>
                <td>{{ question.image }}</td>
                <td>{{ question.correct }}</td>
                <td>{{ question.variates }}</td>
                <td>{% if question.createdat %}{{ question.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if question.updatedat %}{{ question.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('questionlink_show', { 'id': question.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('questionlink_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('questionlink_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
