{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ question.type }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ question.body }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ question.image }}</td>
            </tr>
            <tr>
                <th>Correct</th>
                <td>{{ question.correct }}</td>
            </tr>
            <tr>
                <th>Variates</th>
                <td>{{ question.variates }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if question.createdat %}{{ question.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if question.updatedat %}{{ question.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('questionlink_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('questionlink_edit', { 'id': question.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
