{% extends 'base.html.twig' %}

{% block body %}
    <h1>Result</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ result.id }}</td>
            </tr>
            <tr>
                <th>Quiz_session</th>
                <td>{{ result.quizsession }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ result.answer }}</td>
            </tr>
            <tr>
                <th>Is_correct</th>
                <td>{% if result.iscorrect %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if result.createdat %}{{ result.createdat|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('result_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('result_edit', { 'id': result.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
