{# src/Quizzero/QuizBundle/Resources/views/Question/index.html.twig #}

 {{ form_start(form) }}

    {% for question in questions %}
        {{ form_errors(form) }}
        <article class="question {{ cycle(['odd', 'even'], loop.index0) }}" id="question-{{ question.id }}">
            
            
            
            <blockquote>
            {% if question.image %}
            		<img src="{{ asset(['img/upload/', question.image]|join) }}" alt="{{ quiz.title }} image not found" class="question_img" />
            	{% endif %}
                {{ question.body }}
            </blockquote>
            <p>Your answer:<br> 
            {% set variates = question.variates|split(';') %}
           	{% for variate in variates %}
            	{% if question.type == 'textarea' %}
    	    		<textarea name = "result[{{question.id}}]"></textarea>
                {% elseif question.type == 'checkbox'%}
                    <input type="{{question.type}}" name = "result[{{question.id}}][{{ loop.index }}]" value ="{{ variate }}">
                    <label>{{ variate }}</label><br>
                {% elseif question.type == 'radio'%}
                    <input type="{{question.type}}" name = "result[{{question.id}}]" value="{{ variate }}" checked>
                    <label>{{ variate }}</label><br>
    			{% else %}
    		        	<input type="{{question.type}}" name = "result[{{question.id}}]">
    		        	<label>{{ variate }}</label><br>
    	        {% endif %}
    	        
            	
            {% endfor %}
            </p>
            	<hr class="big"/>
        </article>
        
    
        
		   

    
	{% else %}
    <p>Sorry, there are no questions for this quiz.</p>

    {% endfor %}
{{ form_rest(form) }}
</form>
</p>