{# src/Quizzero/QuizBundle/Resources/views/Result/show.html.twig #}
{% extends 'QuizzeroQuizBundle::layout.html.twig' %}


{% block header_title %}{{ quiz.title }}{% endblock %}
{% block header_subtitle %}{{ quiz.body }}{% endblock %}
{% block header_image %}{{ asset(['img/', quiz.image]|join) }}{% endblock %}
{% block body %}
    {% include 'QuizzeroQuizBundle::user.layout.html.twig' %}
    <div class="col-md-12">...............................................</div>
    <h2 class="section-heading">Quiz result for "{{quiz.title}}"</h2>

    <table class="table table-bordered">
    <thead>
   
    <tr><th>Question</th><th>Your answer</th><th>Correct answer</th><th>isCorrect</th></tr>
    </thead>

    {% for result in results  %}  
        <tr {% if result.isCorrect == false %} class="alert-danger" {% else %} class="alert-success" {% endif %}>
        <td>{{result.question.body}}</td>
        <td>{{result.answer }}</td>
        <td>{{ result.question.variates}}</td>
        <td>{% if result.isCorrect == false %} false {% else %} true {% endif %}</td>      

        </tr>  
    {% endfor %}

</table>
{% endblock %}